#Python
venv/
__pycache__/
*.pyc

# Flask
instance/
.env


# Node.js
node_modules/
npm-debug.log
yarn-error.log

#SO
.DS_Store
Thumbs.db

# Others
config.json
test_mongo_connection.py
test_config.py
test_env.py